body{
    background-color: #04000a;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.js-tilt-glare{
    border-radius: 15px;
}

#theme{
    display: flex;
    text-align: center;
    font-size: 50px;
    width: 70px;
    height: 70px;
    padding-left: 20px;
    padding-bottom: 50px;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

#dynamic{
    display: flex;
    text-align: center;
    font-size: 50px;
    width: 70px;
    height: 70px;
    padding-left: 20px;
    padding-top: 5px;  
    color: white;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    margin-left: 1.25em;
    margin-top: -1.4em;
}

#theme:hover{
    background-color: rgba(255, 255, 255, 0.089);
}
#theme:active{
    background-color: rgba(255, 255, 255, 0.24);
}

#dynamic:hover{
    background-color: rgba(255, 255, 255, 0.089);
}
#dynamic:active{
    background-color: rgba(255, 255, 255, 0.24);
}

.scale-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform: scale(0.5);
    transform-origin: center center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 1300px;
    margin: auto;
    margin-top: -8.5cm;
}

.box1{
    width: 700px;
    height: 1000px;
    background-color: #123b28;
    border: 2px solid transparent;
    border-radius: 30px;
    
    box-shadow: 1px 1px 50px rgba(82, 82, 82, 0.459),
    inset 0 0 25px rgba(0, 0, 0, 0.459);
}

#Cover {
    width: 500px;
    height: 500px;
    margin-left: 2.6cm;
    margin-top: 2cm;
    border: 5px solid #228564;
    border-radius: 30px;
    box-shadow: 1px 1px 20px rgb(29, 29, 29);
    transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease, box-shadow 0.5s ease;
}
#Cover:hover {
    margin-left: 2.3cm;
    margin-top: 1.5cm;
    width: 520px;
    height: 520px;
    box-shadow: 1px 1px 25px rgb(29, 29, 29);
}

#songText{
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
}

#artistText{
    text-align: center;
    font-size: 30px;
    margin-top: -0.5cm;
}

#progressContainer {
    width: 500px;
    height: 20px;
    background-color: #9c9c9c56;
    border: 3px solid #228564;
    border-radius: 10px;
    overflow: hidden;
    margin: 40px auto;
}

#progressBar {
    height: 100%;
    width: 0%;
    background-color: #081d24;
    transition: width 0.1s linear;
}

#playButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 45px;
    background-color: transparent;
    border: none;
    margin-left: 8.3cm;
    margin-top: 1.8cm;
    cursor: pointer;
}
#playButton:hover{
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
}
#playButton:active{
    background-color: #6464641c;
}

.for-back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 55px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#backward{
    margin-left: 2.8em;
    margin-top: -1.2em;
}

#forward{
    margin-left: 8.5em;
    margin-top: -1.25em;
}

#reset{
    margin-top: -1.4em;
    margin-left: 0.7em;
}

.for-back:hover{
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 10px;
}
.for-back:active{
    background-color: #6464641c;
}

.skip{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 800px;
    font-size: 100px; 
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: transparent;
    opacity: 0;
}

#backSong{
    margin-top: -8.5em;
    margin-left: -0.8em;
}

#nextSong{
    margin-top: -7.9em;
    margin-left: 7em;
}

.skip:hover{
    background-color: rgba(104, 104, 104, 0.253);
    opacity: 50;
}
.skip:active{
    background-color: rgba(66, 66, 66, 0.089);
    opacity: 100;
}

.playTime{
    font-size: 30px;
    color: black;
}

#currentTime{
    margin-top: -2.35em;
    margin-left: 20px;
}

#maxTime{
    margin-top: -2.5em;
    margin-left: 16.6cm;
}

.volume-control {
  position: relative;
  display: inline-block;
}

#volumeButton{
    position: absolute;
    margin-top: -1.7em;
    margin-left: 13em;
    font-size: 45px;
}

#volumeSlider {
  position: absolute;
  margin-left: 16.5cm;
  margin-top: -10em;
  transform: translateX(-50%) rotate(-90deg);
  width: 100px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.volume-control:hover #volumeSlider {
  opacity: 1;
  pointer-events: auto;
}

#onlyVocal{
    position: relative;
    width: 75px;
    height: 75px;
    font-size: 45px;
    border: 5px solid rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    top: -22.5em;
    color:  white;
    background-color: rgba(177, 177, 177, 0.151);
}
#onlyVocal:hover{
    width: 80px;
    height: 80px;
    top: -23;
}
#onlyVocal:active{
    width: 85px;
    height: 85px;
    top: -24;
    background-color: rgba(177, 177, 177, 0.404);
}
#onlyInstru{
    position: relative;
    width: 75px;
    height: 75px;
    font-size: 45px;
    border: 5px solid rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    top: -22.5em;
    color:  white;
    background-color: rgba(177, 177, 177, 0.151);
}
#onlyInstru:hover{
    width: 80px;
    height: 80px;
    top: -23;
}
#onlyInstru:active{
    width: 85px;
    height: 85px;
    top: -24;
    background-color: rgba(177, 177, 177, 0.404);
}